# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Arquivos de log
*.log

# Arquivos temporários
*.swp
*.swo
*.tmp
*.bak

# Compilados Java
*.class

# Pacotes
*.jar
*.war
*.ear

# Configurações específicas de sistema
.DS_Store
Thumbs.db

# Arquivos de teste
hs_err_pid*

